exclude: ^(\.git|\.hg|\.mypy_cache|\.nox|\.tox|\.venv|_build|buck-out|build|dist|alembic)/
default_language_version:
  python: python3.11
default_stages: [pre-commit, pre-push]
repos:
  # https://github.com/pre-commit/pre-commit-hooks#pre-commit-hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
  # Check compliance with Ruff.
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.14
    hooks:
      - id: ruff
        name: ruff (python)
        types_or: [ python, pyi, jupyter ]
        args : [--config=pyproject.toml]
      - id: ruff-format
        name: ruff-format (python)
        types_or: [ python, pyi, jupyter ]
        args : [--config=pyproject.toml]
